<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/" id="homeButton">Go Home</a> <br>
    <a href ="/movies" id="buttonOther">See Movie List</a>
    <h1>The MCU</h1>
    <p>Phase 1</p>
  </body>
</html>
